@import url("https://fonts.google.com/share?selection.family=Poppins:wght@300&display=swap");

:root {
  --primaryColor: rgb(112, 112, 112);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  color: var(--primaryColor);
  /* background-color: rgb(28, 185, 224); */
}

a {
  text-decoration: none;
  color: var(--primaryColor);
}

h1,
h2 {
  line-height: 1.2;
  margin: 10px 0;
}

p {
  /* margin: 10px 0; */
}

img {
  width: 100%;
}

/* -------------------------------- utilities ------------------------------- */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  overflow: auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/*
.welcome-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-col-span-2 {
  grid-column: span 2;
}

.welcomeGraph,
.welcomeData {
  grid-column: 1;
  grid-row: 2;
}

.welcomeGraph {
  z-index: 1;
}
.welcomeData {
  z-index: -1;
}

.sign-in-button {
  grid-column: 3;
  grid-row: 2;
}

.welcomeChicken {
  grid-column: 2;
  grid-row: 2;
  width: 200px;
}
*/
.blend-mode-multiply {
  mix-blend-mode: multiply;
}

/* --------------------------------- Navbar --------------------------------- */

.navbar {
  background-color: #748da0;
  color: var(--primaryColor);
  height: 80px;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.3);
}

.navbar .flex {
  justify-content: space-between;
}

.logo {
  width: 250px;
}

.navbar ul {
  color: var(--primaryColor);
  display: flex;
  margin: 0 10px;
  list-style: none;
}

.navbar a {
  color: var(--primaryColor);
  padding: 10px;
  margin: 0 5px;
}
.navbar a:hover {
  border-bottom: 2px var(--primaryColor) solid;
}

/* --------------------------------- content -------------------------------- */

.welcome {
  /* height: 400px; */
  /* background-color: rgb(75, 209, 243); */
  /* color: #fff; */
  /* position: relative; */
  /* margin: 200px; */
}
.chickenWalk {
  /* width: 200px; */
}
/*
.welcomeText {
   margin: 200px 0; 
}
.welcomeText h2 {
  font-weight: 700;
}
.welcomeText a {
  font-weight: 900;
}
*/

.flex-container {
  display: flex;
  flex-direction: column;
  /* background-color: #04a2fe; */
  height: 600px;
  width: 1200px;
  margin-left: 0px;
  margin-top: 200px;
  justify-content: space-between;
  align-items: flex-start;
}

.chickenWalk {
  /* width: 200px; */
}

.welcomeText h7 {
  /* border: solid 1px; */
  width: 300px;
  background-color: violet;
  /* border-radius: 0.5em; */
}

.welcomeText h2 {
  font-weight: 700;
  width: 600px;
  background-color: orange;
  /* border-radius: 0.5em; */
}

.welcomeText a {
  font-weight: 900;
}

.welcomeChicken {
  /* border: solid 1px; */
  /* background-color: turquoise; */
  border-radius: 0.5em;
  transform: translate(-470px, -40px);
  z-index: -2;
}

.welcomeGraph {
  /* border: solid 1px; */
  /* background-color: brown; */
  /* border-radius: 0.5em; */
  margin-top: 10px;
  width: 640px;
  align-self: center;
  z-index: 1;
}

.welcomeData {
  /* border: solid 1px; */
  /* background-color: magenta; */
  /* border-radius: 0.5em; */
  position: relative;
  /* top: 0px; */
  left: -360px;
}

.graph-flex-group {
  display: flex;
  /* background-color: greenyellow; */
}
